body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #45a049;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#comments-section {
    margin-top: 20px;
}

#comments-list {
    list-style: none;
    padding: 0;
    max-height: 200px; /* Altura máxima del contenedor de comentarios */
    overflow-y: auto; /* Hacer que sea desplazable verticalmente */
    border: 1px solid #ccc;
    padding: 10px;
}

#comments-list li {
    background: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.comment-time {
    display: block;
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #333;
}

.dark-mode footer {
    background-color: #222;
}

.dark-mode #comments-list li {
    background: #333;
    color: #fff;
}

.dark-mode header button {
    background-color: #333;
    color: #fff;
}

.dark-mode header button:hover {
    background-color: #444;
}
